
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />

<h1>Merhabalar Admin Panelinin Ana Sayfasına Hoşgeldiniz.</h1>
<br />
<h5>Sol tarafta admin paneli yer almakta buradan çeşitli değişiklikleri yapabilirsiniz.</h5>